<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yangcx.preview">

    <application>
        <activity
            android:name=".ui.single.ActivitySingleImagePreview"
            android:screenOrientation="behind"
            android:theme="@style/PreviewFullStyle" />
        <activity
            android:name=".ui.single.ActivitySingleAvatarPreview"
            android:screenOrientation="behind"
            android:theme="@style/PreviewFullStyle" />
    </application>
</manifest>
